{
  "extends": ["stylelint-config-standard", "stylelint-config-rational-order"],
  "plugins": ["stylelint-order", "stylelint-config-rational-order/plugin","stylelint-declaration-block-no-ignored-properties"],
  "rules": {
    "no-empty-source": null,
    "order/properties-order": null,
    "no-descending-specificity": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": false,
        "empty-line-between-groups": false
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["host", "global"]
      }
    ],
    "selector-class-pattern": null,
    "at-rule-no-unknown": null,
    "font-family-no-missing-generic-family-keyword": null,
    "property-no-vendor-prefix": [true, { "ignoreProperties": ["/[a-zA-Z]/"] }],
    "plugin/declaration-block-no-ignored-properties":true
  },
  "customSyntax": "postcss-less",
  "ignoreFiles": ["**/*.js", "**/*.jsx", "**/*.ts", "**/*.tsx"]
}
